*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*...... css for navbar....... */


.nav{
    display: flex;
    align-items: center;
    background-color:white;
    height:80px;
    padding-left:2vw;
    font-size:0.95rem;
    font-weight: bold;
}

.nav-r{
    width: 35vw;
    margin-right:11vw;
}

.nav-l{
    width: 50vw;
}

.nav div{
    display: flex;
}

.nav div a{
    text-decoration: none;
    color: black;
}

.btn{
    width:12vw;
    height:80px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.btn:hover{
    background-color: #04aa6d;
    color: white;
    cursor: pointer;
}
.upgrade{
    background-color:#9763f6;
    width:13vw;
    height: 45px;
    border: none;
    border-radius:30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    color: white;
}

.upgrade:hover{
    background-color:#8346f4;
}

.create{
    background-color:#fff4a3;
    width:17vw;
    height: 45px;
    border: none;
    border-radius:30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    color:black;
}

.create:hover{
    background-color:#f8e97b;

}

.certi{
    background-color:#ffc0c7;
    width:16vw;
    height: 45px;
    border: none;
    border-radius:30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    color:black;

}

.certi:hover{
    background-color:#fd98a4;

}


.account{
    margin: 10px;
    height: 50px;
    width:20vw;
    display: flex;
    align-items: center;
}


.signup{
    background-color:#04aa6d;
    display: flex;
    width:8vw;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: -40px;
}

.signup:hover{
    background-color:#038b59;

}


.login{
    background-color:#d9eee1;
    display: flex;
    width:10vw;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
}



@media only screen and (max-width: 1256px) {
    .nav-r{
        margin-right:10vw;
    }
  } 

  @media only screen and (max-width: 1200px) {
    .nav-r{
        margin-right:9vw;
    }
    .nav-l{
        width: 52vw;
    }
  } 


  @media only screen and (max-width: 1150px) {
    
    .nav-r{
        width:40vw;
    }

    .nav-l{
        width:48vw;
    }
    .upgrade{
        display: none;
    }

    .login{
        width:11vw;
        padding-left: 30px;
    }
  }

  @media only screen and (max-width: 1025px) {
    .create{
       display: none;
    }
    .nav-l{
        width:37vw;
    }
    .nav-r{
        width: 45vw;
        margin-right:15vw;
    }
  } 

 
@media only screen and (max-width: 955px) {

    .nav-l{
        width:40vw;
    }

    .certi{
        width:18vw;  
    }
    .signup{
        width: 10vw;
    }

    .login{
        width:12vw;
    }

    .nav-r{
        width: 47vw;
        margin-right:8vw;
    }

    .btn{
        width: 13vw;
    }
  } 


  @media only screen and (max-width: 875px) {
    .certi{
       display: none;
    }
    .nav-r{
        width: 48vw;
        margin-right:18vw;
    }
    .btn{
        width: 14vw;
    }
    .nav-l{
        width:28vw;
    }
    .signup{
        width: 12vw;
    }
    .login{
        width:14vw;
    }
  } 
 
  @media only screen and (max-width: 800px) {
  
    .nav-r{
        width:55vw;
        margin-right:10vw;
    }
    .btn{
        width: 17vw;
    }
    .nav-l{
        width:25vw;
    }
  } 


  @media only screen and (max-width:730px) {
    .nav-r{
        width:56vw;
        margin-right:5vw;
    }
    .signup{
        width: 14vw;
    }

    .login{
        width:16vw;
    }
  }


  @media only screen and (max-width:670px) {
    .nav{
        font-size:0.8rem;
        height: 70px;
    }
    .nav-l{
        display: none;
        width: 0px;
    }
    .account{
        display: none;
        width: 0px;
    }
    .signup{
        display: none;
    }
    .login{
        display: none;
    }
    .btn{
        height: 70px;
        width:18vw ;
    }
    .nav-r{
        width:80vw;
    }
    .nav-r img{
        height: 40px;
        width: 40px;
    }
  }

  @media only screen and (max-width:530px) {

    .btn{
        height: 70px;
        width:20vw ;
    }
    .nav-r img{
        height: 30px;
        width: 30px;
    }
  }

  @media only screen and (max-width:475px) {

    .btn{
        width:30vw ;
    }
    .nav-r{
        width:40vw;
        margin-right:5vw;
    }

  }

/*...... css for hero section....... */

.hero{
    background-color:rgba(40,42,53);
    color: white;
    height:500px;
}

.hero-icon{
    display: flex;
    flex-direction: row-reverse;
    color: white;
}

.hero-icon span{
    margin: 15px;
    font-size: 20px;
}

.hero-content{
    width: 100%;
}

#line-1{
    font-size: 60px;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;

}

#line-2{
    font-size: 20px;
    font-weight: bolder;
    color:#ffc0c7;
    margin-top: 20px;
    text-align: center;

}

#ucontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#line-3 {
    height: 100px;
    width: 60vw;
    padding-left: 18vw;
    line-height: 30px;
}

#line-3 a{ color: white;}

#line-3 a:hover{
    color:#04aa6d;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.g-btn{
    height: 35px;
    width: 300px;
    background-color:#04aa6d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 25px;
    padding: 25px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

@media only screen and (max-width:1200px) {
    #line-3 {
        padding-left: 15vw;  
    }
}

@media only screen and (max-width:1000px) {
    #line-3 {
        padding-left: 12vw;  
    }
}

@media only screen and (max-width:855px) {
    #line-3 {
        padding-left: 6vw;  
    }
}

@media only screen and (max-width:760px) {
    #line-3 {
        padding-left: 2vw;  
    }
}

@media only screen and (max-width:710px) {
    #line-3 {
        width: 65vw;
        padding-left: 2vw;  
    }
}

@media only screen and (max-width:670px) {
    .hero{
        height:450px;
    }
    #line-1{
        font-size: 40px;
        font-weight: 800;
        margin-top: 30px;
    }
    
    #line-2{
        font-size: 20px;
        font-weight: bolder;
        margin-top: 15px;
    }
    #line-3 {
        width: 90vw;
        text-align: center;  
    }
  }

  @media only screen and (max-width:400px) {

    .hero{
        height:425px;
    }
    #line-1{
        font-size: 30px;
        font-weight: 800;
        margin-top: 30px;
    }
    .button{
        margin-top: 25px;
    }
  }

/*...... other course detail....... */

.other-course{
    display:grid;
    grid-template-columns:50vw 50vw;
    justify-content: space-between;
    padding-left: 3vw;
    padding-bottom: 50px;
    padding-top: 10px;
}

.box{
    width: 40vw;
    height:450px;
    text-align: center;
    margin:20px;
    border-radius:10px;
    padding-top: 15px;
}

.box img{
    height: 270px;
    width: 30vw;
}

.o-course{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 20px;
}

@media only screen and (max-width:1200px) {

    .other-course{
        justify-content: space-around;
    }
    .box{
        width: 42vw;
        height: 500px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .o-course{
        font-size: 40px;
    }
    
}

@media only screen and (max-width:1000px) {

    .other-course{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
    .box{
        width: 85vw;
        margin:40px;
        border-radius:15px;
        padding-top: 15px;
    }

    .box img{
        height: 300px;
        width: 475px;
    }
    
}

@media only screen and (max-width:660px) {
 
    .box{
        height: 400px;
        margin-top:10px;
      
    }
    .box img{
        height:200px;
        width:300px;
    }

     .o-course{
        font-size: 30px;
        margin-top: 20px;
    }
    
}



/* <---my learning--> */

.codeeditor{
    width: 98vw;
    height:900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 100px;
}

.ce-1{
    color: white;
    font-size: 2.2rem;
    margin:1rem;
    text-align: center;
}

.ce-2{
    color: white;
    font-size: 1.2rem;
    margin:1rem;
    text-align: center;
}

/* toggle switch */
	/* toggle in label designing */

    #switch{
        display: flex;
        justify-content: center;
    }

    #switch .checkbox{
        display: none;
    }
	.toggle {
		position : relative ;
		display : inline-block;
		width : 50px;
		height : 25px;
		background-color:#04aa6d;
		border-radius: 30px;
		
	}
		
/* After slide changes */
	.toggle:after {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color:white;
		top: 2px;
		left: 2px;
		transition: all 0.5s;
	}
		
	/* Checkbox checked effect */
	.checkbox:checked + .toggle::after {
		left : 27px;
	}
		
	/* Checkbox checked toggle label bg color */
	.checkbox:checked + .toggle {
		background-color: #04aa6d;
	}


.ce-3{
    height:400px;
}

 /* subscription plan */

 .plan{
    display: grid;
    grid-template-columns:auto auto auto auto;
    column-gap: 25px;
    padding: 30px;
    justify-content: center;
    margin-bottom: 25px;
 }

 .plan-1{
    height: 500px;
    width: 20vw;
    border-radius: 30px;
    border: solid #04aa6d 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
 }

 .plan-1 ul{
    list-style: none;
    text-align: start;
    margin-top: 20px;
    line-height: 30px;
 }

@media only screen and (max-width:1160px) {

    .codeeditor{
        height: 1430px;
        padding-top: 30px;
    }

    .plan{
        grid-template-columns:auto auto;
        row-gap: 25px;
     }

    .plan-1{
        width: 27vw;
        padding: 10px;
     }
}

@media only screen and (max-width:850px) {
    .plan-1{
        width: 35vw;
        padding: 20px;
     }
}

@media only screen and (max-width:650px) {
   
    #switch{
        flex-direction: column;
        align-items: center;
    }

    .codeeditor{
        height: 2700px;
    }

    .plan{
        grid-template-columns:auto;
     }

    .plan-1{
        width: 60vw;
        padding: 10px;
     }
    
}


/* <!--FOOTER--> */

.footer{
    height: 500px;
    background-color:rgba(40,42,53);
    padding-top: 50px;
}

.footerbar{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second{
    height: 80px;
    padding-right:8vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
}

.second span{
    height:50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-size: 25px;
}

.second span:hover{
    background-color:white;
    color: black;
}
.fb1{
    display: flex;
}

.fb2{
    display: flex;
    align-items:center;
}
.footer button{
    border: none;
    margin: 5px;
}

.cw-btn{
    text-decoration: none;
    color:rgba(40,42,53);
    font-size: 15px;
    background-color:white;
    height: 30px;
    padding: 10px;
    border-radius:5px;
}

.fb3{
    display: flex;
    width:25vw;
    height: 30px;
    justify-content: flex-end;
    align-items:center;

}

.fb3 button{
    background-color:rgba(40,42,53);
}

.fb3-btn{
    text-decoration: none;
    color:white;
    font-size: 15px;
    height: 30px;
    padding: 3px;
    border-radius:2px;
    letter-spacing: 3px;
}

.fb3-btn:hover{
    color: #038b59;
}

.ftext{
    margin-top: 10px;
    color: white;
    margin-left: 5vw;
    width: 90vw;
    text-align: center;
}

.ftext a{
    color: white;
}

.ftext a:hover{
    color: #038b59;
}

@media only screen and (max-width:1200px) {
    .fb2 button:last-of-type {
        display: none;
      }
}

@media only screen and (max-width:1000px) {
    .footer{
        height: 700px;
    }
    .footerbar{
        height: 300px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .fb1{
        height: 50px;
    }
    .fb2 button:last-of-type {
        display:block;
      }
    .fb2{
        height:225px;
        width: 100%;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .fb2 button{
        margin: 5px;
        display: flex;
        align-items: center;
        border-radius:1rem;
    }

    .fb2 .cw-btn{
        display: inline-block;
        height: 40px;
        text-align: center;
        width:340px;
        padding: 10px;
    }

    .fb3{
        justify-content: center;
    }

    .second{
        justify-content: center;
        padding-right: 0px;
    }
}

@media only screen and (max-width:450px) {
   
    .footer button{
        margin: 3px;
        border-radius: 3px;
    }
    .cw-btn{
        font-size: 12px;
        height: 30px;
        padding: 7px;
    }
    .fb2 .cw-btn{
        width:270px;
        padding: 10px;
    }
    .fb3-btn{
        font-size: 12px;
    }
}


